//colors
$darken: #0d1624;
$darkblue: #1d3557;
$blue: #457b9d;
$lightblue: #a8dadc;
$cream: #f1faee;
$red: #e63946;

//fontStyles
$font-main: 'Raleway', sans-serif;
$font-title: 'Rubik', sans-serif;

$light: 300;
$regular: 500;
$bold: 700;

$size-p: 1.6rem;
$size-h1: 3rem;
$size-h2: 2.8rem;
$size-h3: 2.6rem;
$size-h4: 2rem;