@import '../imports';

.container {
	width: 100%;
	background-color: $darken;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	p {
		font-style: $font-title;
		font-size: $size-h4;
		span {
			color: $lightblue;
		}
	}
}